body {
    background:url(../Pictures/wallpaper_index.jpg);
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 .brd {
   width: 500px;	
  height: auto;
 }
 .section {
  float: left;
  margin: 0 1.5%;
  width: 49%;
}
.aside {
  float: right;
  margin: 0 1.5%;
  width: 48%;
}

 .sectioncr {
  float: left;
  width: 44%;
  margin: 0 0 0 10%;
 }
.asidecr {
  float: right;
  width: 46%;
}

 .sectionacc {
  float: left;
  width: 54%;
 }
.asideacc {
  float: right;
  width: 46%;
}

footer {
  clear: both;
}

.navi {
    margin-top:10px;
    margin-bottom:10px;
}

.imgchnghr {
    margin: 20px;
    height: 300px;
    width: 300px;
}

.imgind {
    height: 200px;
    width: 200px;
    margin: 5px;
    background-color:#428bca;
    border:inset;
    border-color:#428bca;
}

.backind {
    background-color:#428bca;
}

.texth {
    text-align:start;
}

.divind {
    text-align:center;
    margin-bottom:10px;
    margin-top:10px;
    align-content:center;
}

.margind {
    margin-bottom:1px;
    margin-top:1px;
}

.textm
{
    color: #999999;
    font-stretch:expanded;
    font-weight:700;
}

.panelshop{
    height:auto;
    width:400px;
    background-color:transparent;
    text-align:center;
}

.imgshop {
    background-color:white;
    margin:10px;
    width:300px;
    height:250px;
}

.panelacc{
    height:auto;
    width:400px;
    background-color:transparent;
    text-align:center;
}

.itemsl {
    margin-top:15px;
}

.imgaccit{
    height: 300px;
    width: 300px;
    margin: 5px;
    background-color:#428bca;
    border:inset;
    border-color:#428bca;
}

#fll {
    float:left;
}

