@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--Слайдер контента-->
<div id="carousl" class="carousel slide">

    <!--Индикаторы сладов-->
    <ol class="carousel-indicators">
        <li class="active" data-target="#carousl" data-slide="0"></li>
        <li data-target="#carousl" data-slide="1"></li>
    </ol>

    <!--Слайды, контент-->
    <div class="carousel-inner">
        <div class="item active">
            <h2>Добро пожаловать в Heroes!</h2>
            <img src="~/Pictures/start.jpg" />

            <div class="carousel-caption">
                <h3>Первый слайд</h3>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <h3>Выберете героя</h3>
            </div>
        </div>
    </div>


    <!--Стрелки переключатели слайдов-->
    <a href="#carousl" class="right carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <a href="#carousl" class="left carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
</div>