@model Heroes.Models.Hero
@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h1>HEROES</h1>
    <p class="lead"> Welcome to heroes world. Please, change hero! </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Humans</h2>
        <p>Human Warior</p>
        <img src="~/Pictures/Heroes/human_warior.jpg" width="100" height="100" />
        <p>Human Wizard</p>
        <img src="~/Pictures/Heroes/human_wizard.jpg" width="100" height="100" />
        <p>Human Acher</p>
        <img src="~/Pictures/Heroes/human_archer.jpg" width="100" height="100" />
        <p>Human Healer</p>
        <img src="~/Pictures/Heroes/human_hiller.jpg" width="100" height="100"/>
    </div>
    <div class="col-md-3">
        <h2>Elfs</h2>
        <p>Elf Paladin</p>
        <img src="~/Pictures/Heroes/elf_warior.jpg" width="100"  height="100" />
        <p>Elf Wizard</p>
        <img src="~/Pictures/Heroes/elf_wizard.jpeg" width="100" height="100" />
        <p>Elf Acher</p>
        <img src="~/Pictures/Heroes/elf_archer.jpg" width="100" height="100" />
        <p>Elf Healer</p>
        <img src="~/Pictures/Heroes/elf_wizzard.jpg" width="100" height="100" />
    </div>
    <div class="col-md-3">
        <h2>Undead</h2>
        <p>Undead Warior</p>
        <img src="~/Pictures/Heroes/undead_warior (2).jpg" width="100"  height="100" />
        <p>Undead Wizard</p>
        <img src="~/Pictures/Heroes/undead_wizard.jpg" width="100" height="100" />
        <p>Undead Asassin</p>
        <img src="~/Pictures/Heroes/undead_archer.jpg" width="100" height="100" />
        <p>Undead Necromat</p>
        <img src="~/Pictures/Heroes/undead_necr.jpg" width="100" height="100" />
    </div>
    <div class="col-md-3">
        <h2>Orc</h2>
        <p>Orc Warior</p>
        <img src="~/Pictures/Heroes/Orc_warior.jpg" width="100" height="100" />
        <p>Orc Shaman</p>
        <img src="~/Pictures/Heroes/orc_wizzard.jpg" width="100" height="100" />
        <p>Orc Archer</p>
        <img src="~/Pictures/Heroes/orc_archer.jpg" width="100" height="100" />
        <p>Orc Healer</p>
        <img src="~/Pictures/Heroes/orc_shaman.jpg" width="100" height="100" />
    </div>
</div>